<div class="row mt100 justify-content-center">
  <div class="col-lg-8">
    <div class="mb50">
      <h1 class="text-center mb10">mvpkit is running</h1>
      <p class='text-center'>
        Hopefully that was easy.  Now, onto the good stuff.
      </p>
    </div>

    <h2 class="mb20">Quick Tour</h2>

    <div class="mb50">
      <h4 class="mb10">Bootstrap 4</h4>
      <p class="mb20">You've got <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Bootstrap 4</a> right out of the box.</p>

      <div class="row">
        <% ['primary','secondary','success','warning','danger','green','red','blue','yellow'].each do |color| %>
          <div class="col-sm-4 mb20">
            <a href="#" class="btn btn-<%= color %> btn-block">.btn-<%= color %></a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb50">
      <h4 class="mb10">Reactstrap</h4>
      <p class="mb20">Inside React components you have the Reactstrap library <a href="https://reactstrap.github.io/components/" target="_blank">Bootstrap 4</a> right out of the box.</p>

      <%= react_component 'examples/reactstrap' %>
    </div>

    <div class="mb50">
      <h4 class="mb20">Icons</h4>
      <p class="mb20">Font-Awesome (<a href="http://fontawesome.io/icons/" target="_blank">icons</a>)</p>
      <div class="mb20">
        <% ['address-book','address-book-o','address-card','address-card-o','bandcamp','bath','bathtub (alias)','drivers-license (alias)','drivers-license-o (alias)','eercast','envelope-open','envelope-open-o','etsy','free-code-camp','grav','handshake-o','id-badge','id-card','id-card-o','imdb','linode','meetup','microchip','podcast','quora','ravelry','s15 (alias)','shower','snowflake-o','superpowers','telegram','thermometer (alias)','thermometer-0 (alias)','thermometer-1 (alias)','thermometer-2 (alias)','thermometer-3 (alias)','thermometer-4 (alias)','thermometer-empty','thermometer-full','thermometer-half','thermometer-quarter','thermometer-three-quarters','times-rectangle (alias)','times-rectangle-o (alias)','user-circle','user-circle-o','user-o','vcard (alias)','vcard-o (alias)','window-close','window-close-o','window-maximize','window-minimize','window-restore','wpexplorer','address-book','address-book-o','address-card','address-card-o','adjust','american-sign-language-interpreting','anchor','archive','area-chart','arrows','arrows-h','arrows-v','asl-interpreting (alias)','assistive-listening-systems','asterisk','at','audio-description','automobile (alias)','balance-scale','ban','bank (alias)','bar-chart','bar-chart-o (alias)','barcode','bars','bath','bathtub (alias)','battery (alias)','battery-0 (alias)','battery-1 (alias)','battery-2 (alias)','battery-3 (alias)','battery-4 (alias)','battery-empty','battery-full','battery-half','battery-quarter','battery-three-quarters','bed','beer','bell','bell-o','bell-slash','bell-slash-o','bicycle','binoculars','birthday-cake','blind','bluetooth','bluetooth-b','bolt','bomb','book','bookmark','bookmark-o','braille','briefcase','bug','building','building-o','bullhorn','bullseye','bus','cab (alias)','calculator','calendar','calendar-check-o','calendar-minus-o','calendar-o','calendar-plus-o','calendar-times-o','camera','camera-retro','car','caret-square-o-down','caret-square-o-left','caret-square-o-right','caret-square-o-up','cart-arrow-down','cart-plus','cc','certificate','check','check-circle','check-circle-o','check-square','check-square-o','child','circle','circle-o','circle-o-notch','circle-thin','clock-o','clone','close (alias)','cloud','cloud-download','cloud-upload','code','code-fork','coffee','cog','cogs','comment','comment-o','commenting','commenting-o','comments','comments-o','compass','copyright','creative-commons','credit-card','credit-card-alt','crop','crosshairs','cube','cubes','cutlery','dashboard (alias)','database','deaf','deafness (alias)','desktop','diamond','dot-circle-o','download','drivers-license (alias)','drivers-license-o (alias)','edit (alias)','ellipsis-h','ellipsis-v','envelope','envelope-o','envelope-open','envelope-open-o','envelope-square','eraser','exchange','exclamation','exclamation-circle','exclamation-triangle','external-link','external-link-square','eye','eye-slash','eyedropper','fax','feed (alias)','female','fighter-jet','file-archive-o','file-audio-o','file-code-o','file-excel-o','file-image-o','file-movie-o (alias)','file-pdf-o','file-photo-o (alias)','file-picture-o (alias)','file-powerpoint-o','file-sound-o (alias)','file-video-o','file-word-o','file-zip-o (alias)','film','filter','fire','fire-extinguisher','flag','flag-checkered','flag-o','flash (alias)','flask','folder','folder-o','folder-open','folder-open-o','frown-o','futbol-o','gamepad','gavel','gear (alias)','gears (alias)','gift','glass','globe','graduation-cap','group (alias)','hand-grab-o (alias)','hand-lizard-o','hand-paper-o','hand-peace-o','hand-pointer-o','hand-rock-o','hand-scissors-o','hand-spock-o','hand-stop-o (alias)','handshake-o','hard-of-hearing (alias)','hashtag','hdd-o','headphones','heart','heart-o','heartbeat','history','home','hotel (alias)','hourglass','hourglass-1 (alias)','hourglass-2 (alias)','hourglass-3 (alias)','hourglass-end','hourglass-half','hourglass-o','hourglass-start','i-cursor','id-badge','id-card','id-card-o','image (alias)','inbox','industry','info','info-circle','institution (alias)','key','keyboard-o','language','laptop','leaf','legal (alias)','lemon-o','level-down','level-up','life-bouy (alias)','life-buoy (alias)','life-ring','life-saver (alias)','lightbulb-o','line-chart','location-arrow','lock','low-vision','magic','magnet','mail-forward (alias)','mail-reply (alias)','mail-reply-all (alias)','male','map','map-marker','map-o','map-pin','map-signs','meh-o','microchip','microphone','microphone-slash','minus','minus-circle','minus-square','minus-square-o','mobile','mobile-phone (alias)','money','moon-o','mortar-board (alias)','motorcycle','mouse-pointer','music','navicon (alias)','newspaper-o','object-group','object-ungroup','paint-brush','paper-plane','paper-plane-o','paw','pencil','pencil-square','pencil-square-o','percent','phone','phone-square','photo (alias)','picture-o','pie-chart','plane','plug','plus','plus-circle','plus-square','plus-square-o','podcast','power-off','print','puzzle-piece','qrcode','question','question-circle','question-circle-o','quote-left','quote-right','random','recycle','refresh','registered','remove (alias)','reorder (alias)','reply','reply-all','retweet','road','rocket','rss','rss-square','s15 (alias)','search','search-minus','search-plus','send (alias)','send-o (alias)','server','share','share-alt','share-alt-square','share-square','share-square-o','shield','ship','shopping-bag','shopping-basket','shopping-cart','shower','sign-in','sign-language','sign-out','signal','signing (alias)','sitemap','sliders','smile-o','snowflake-o','soccer-ball-o (alias)','sort','sort-alpha-asc','sort-alpha-desc','sort-amount-asc','sort-amount-desc','sort-asc','sort-desc','sort-down (alias)','sort-numeric-asc','sort-numeric-desc','sort-up (alias)','space-shuttle','spinner','spoon','square','square-o','star','star-half','star-half-empty (alias)','star-half-full (alias)','star-half-o','star-o','sticky-note','sticky-note-o','street-view','suitcase','sun-o','support (alias)','tablet','tachometer','tag','tags','tasks','taxi','television','terminal','thermometer (alias)','thermometer-0 (alias)','thermometer-1 (alias)','thermometer-2 (alias)','thermometer-3 (alias)','thermometer-4 (alias)','thermometer-empty','thermometer-full','thermometer-half','thermometer-quarter','thermometer-three-quarters','thumb-tack','thumbs-down','thumbs-o-down','thumbs-o-up','thumbs-up','ticket','times','times-circle','times-circle-o','times-rectangle (alias)','times-rectangle-o (alias)','tint','toggle-down (alias)','toggle-left (alias)','toggle-off','toggle-on','toggle-right (alias)','toggle-up (alias)','trademark','trash','trash-o','tree','trophy','truck','tty','tv (alias)','umbrella','universal-access','university','unlock','unlock-alt','unsorted (alias)','upload','user','user-circle','user-circle-o','user-o','user-plus','user-secret','user-times','users','vcard (alias)','vcard-o (alias)','video-camera','volume-control-phone','volume-down','volume-off','volume-up','warning (alias)','wheelchair','wheelchair-alt','wifi','window-close','window-close-o','window-maximize','window-minimize','window-restore','wrench'].each do |icon| %>
          <i class="fa fa-<%= icon %>"></i>
        <% end %>
      </div>

      <div class="mb20">
        <span><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> spinning icons too ...</span>
      </div>

      <p class="mb20">Open Iconic (<a href="https://useiconic.com/open/" target="_blank">icons</a>)</p>
      <div class="mb20">
        <% icons = [  "account-login", "account-logout", "action-redo", "action-undo",
                      "align-center", "align-left", "align-right", "aperture", "arrow-bottom",
                      "arrow-circle-bottom", "arrow-circle-left", "arrow-circle-right",
                      "arrow-circle-top", "arrow-left", "arrow-right", "arrow-thick-bottom",
                      "arrow-thick-left", "arrow-thick-right", "arrow-thick-top", "arrow-top",
                      "audio", "audio-spectrum", "badge", "ban", "bar-chart", "basket",
                      "battery-empty", "battery-full", "beaker", "bell", "bluetooth", "bold",
                      "bolt", "book", "bookmark", "box", "briefcase", "british-pound",
                      "browser", "brush", "bug", "bullhorn", "calculator", "calendar",
                      "camera-slr", "caret-bottom", "caret-left", "caret-right", "caret-top",
                      "cart", "chat", "check", "chevron-bottom", "chevron-left",
                      "chevron-right", "chevron-top", "circle-check", "circle-x", "clipboard",
                      "clock", "cloud", "cloud-download", "cloud-upload", "cloudy", "code",
                      "cog", "collapse-left", "collapse-down", "collapse-right", "collapse-up",
                      "command", "comment-square", "compass", "contrast", "copywriting",
                      "credit-card", "crop", "dashboard", "data-transfer-download",
                      "data-transfer-upload", "delete", "dial", "document", "dollar",
                      "double-quote-sans-left", "double-quote-sans-right",
                      "double-quote-serif-left", "double-quote-serif-right", "droplet", "eject",
                      "elevator", "ellipses", "envelope-closed", "euro", "envelope-open",
                      "excerpt", "expand-down", "expand-left", "expand-right", "expand-up",
                      "external-link", "eye", "eyedropper", "file", "fire", "flag", "flash",
                      "folder", "fork", "fullscreen-enter", "fullscreen-exit", "globe", "graph",
                      "grid-four-up", "grid-three-up", "grid-two-up", "hard-drive", "header",
                      "headphones", "heart", "image", "inbox", "home", "infinity", "info",
                      "italic", "justify-center", "justify-left", "justify-right", "key",
                      "laptop", "layers", "lightbulb", "link-broken", "link-intact", "list",
                      "list-rich", "location", "lock-locked", "lock-unlocked", "loop",
                      "loop-circular", "loop-square", "magnifying-glass", "map", "map-marker",
                      "media-pause", "media-play", "media-record", "media-skip-backward",
                      "media-skip-forward", "media-step-backward", "media-step-forward",
                      "media-stop", "medical-cross", "menu", "microphone", "minus", "monitor",
                      "moon", "move", "musical-note", "paperclip", "people", "pencil", "person",
                      "phone", "pie-chart", "pin", "play-circle", "plus", "power-standby",
                      "print", "project", "pulse", "puzzle-piece", "question-mark", "rain",
                      "random", "reload", "resize-both", "resize-height", "resize-width", "rss",
                      "rss-alt", "script", "share", "share-boxed", "shield", "signal",
                      "signpost", "sort-ascending", "sort-descending", "spreadsheet", "star",
                      "sun", "tablet", "tag", "tags", "target", "task", "terminal", "text",
                      "thumb-up", "thumb-down", "timer", "transfer", "trash", "underline",
                      "vertical-align-bottom", "vertical-align-center", "vertical-align-top",
                      "volume-high", "video", "volume-low", "volume-off", "warning", "wifi",
                      "wrench", "x", "yen", "zoom-in", "zoom-out"
                    ].each do |icon| %>
          <span class="oi oi-<%= icon %>"></span>
        <% end %>
      </div>
    </div>

    <p class="mb15">Here's a sample React conversion form.  It takes an email as an input, validates and submits to the server to create a conversion, which will show up in <a href="/a/conversions">conversions admin</a></p>

    <%= react_component 'Conversion' %>
  </div>
</div>
